@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --error-color: #ff0000;
  --success-color: #21bd1f;
  --info-color: #f8d76e;
  --disable-color: #E5E5E5;
  --toast-color: #2D2D2F;
}
