@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
  --secondary-color: #764ABC;
  --error-color: #ff0000;
  --success-color: #21bd1f;
  --info-color: #f8d76e;
  --disable-color: #e5e5e5;
  --toast-color: #2d2d2f;
  --disable-text-color: #ababab;
  --background: #fff;
  --foreground: #000;
}

[data-theme='dark'] {
  --background: #000;
  --foreground: #fff;
}